<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>Custom Color Presets</key>
	<dict>
		<key>Afterglow</key>
		<dict>
			<key>WebMainResource</key>
			<dict>
				<key>WebResourceData</key>
				<data>
				PGh0bWw+PGhlYWQ+PC9oZWFkPjxib2R5PjxwcmUgc3R5
				bGU9IndvcmQtd3JhcDogYnJlYWstd29yZDsgd2hpdGUt
				c3BhY2U6IHByZS13cmFwOyI+Jmx0Oz94bWwgdmVyc2lv
				bj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPyZndDsKJmx0
				OyFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUv
				L0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5h
				cHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0
				ZCImZ3Q7CiZsdDtwbGlzdCB2ZXJzaW9uPSIxLjAiJmd0
				OwombHQ7ZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAw
				IENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsK
				CQkmbHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC4wODIzNTI5NDM3
				MTg0MzMzOCZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0
				O0dyZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZs
				dDtyZWFsJmd0OzAuMDgyMzUyOTQzNzE4NDMzMzgmbHQ7
				L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29tcG9u
				ZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC4w
				ODIzNTI5NDM3MTg0MzMzOCZsdDsvcmVhbCZndDsKCSZs
				dDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAxIENv
				bG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkm
				bHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkm
				Z3Q7CgkJJmx0O3JlYWwmZ3Q7MC4yNTg4MjM1NDM4Jmx0
				Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7R3JlZW4gQ29t
				cG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7
				MC4yNTQ5MDE5NzUzOTk5OTk5OCZsdDsvcmVhbCZndDsK
				CQkmbHQ7a2V5Jmd0O1JlZCBDb21wb25lbnQmbHQ7L2tl
				eSZndDsKCQkmbHQ7cmVhbCZndDswLjY3NDUwOTgyMzI5
				OTk5OTk4Jmx0Oy9yZWFsJmd0OwoJJmx0Oy9kaWN0Jmd0
				OwoJJmx0O2tleSZndDtBbnNpIDEwIENvbG9yJmx0Oy9r
				ZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkmbHQ7a2V5Jmd0
				O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0
				O3JlYWwmZ3Q7MC4zMTQ0NDY2Njc1NDk0OTM2MyZsdDsv
				cmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dyZWVuIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				NTU1NzY1Njk1NzAxMzU3NDgmbHQ7L3JlYWwmZ3Q7CgkJ
				Jmx0O2tleSZndDtSZWQgQ29tcG9uZW50Jmx0Oy9rZXkm
				Z3Q7CgkJJmx0O3JlYWwmZ3Q7MC40OTQ3MzgwNDM5MTQ3
				NDcyNCZsdDsvcmVhbCZndDsKCSZsdDsvZGljdCZndDsK
				CSZsdDtrZXkmZ3Q7QW5zaSAxMSBDb2xvciZsdDsva2V5
				Jmd0OwoJJmx0O2RpY3QmZ3Q7CgkJJmx0O2tleSZndDtC
				bHVlIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDty
				ZWFsJmd0OzAuNDAzOTIxNTY4NiZsdDsvcmVhbCZndDsK
				CQkmbHQ7a2V5Jmd0O0dyZWVuIENvbXBvbmVudCZsdDsv
				a2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuNzA5ODAzOTIx
				NjAwMDAwMDUmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZn
				dDtSZWQgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0
				O3JlYWwmZ3Q7MC44OTgwMzkyMTU3Jmx0Oy9yZWFsJmd0
				OwoJJmx0Oy9kaWN0Jmd0OwoJJmx0O2tleSZndDtBbnNp
				IDEyIENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZn
				dDsKCQkmbHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0
				Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC43MzMzMzMz
				MzMzMzMzMzMyOCZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5
				Jmd0O0dyZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJ
				CSZsdDtyZWFsJmd0OzAuNTk5OTk5OTk5OTk5OTk5OTgm
				bHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29t
				cG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7
				MC40MjM1Mjk0MTE3NjQ3MDU4OCZsdDsvcmVhbCZndDsK
				CSZsdDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAx
				MyBDb2xvciZsdDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7
				CgkJJmx0O2tleSZndDtCbHVlIENvbXBvbmVudCZsdDsv
				a2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuNTIzNDQ2Njk4
				MSZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dyZWVu
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuMzA2OTc3OTg1ODAwMDAwMDImbHQ7L3JlYWwm
				Z3Q7CgkJJmx0O2tleSZndDtSZWQgQ29tcG9uZW50Jmx0
				Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC42MjMzMzg1
				MTgwOTk5OTk5NiZsdDsvcmVhbCZndDsKCSZsdDsvZGlj
				dCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAxNCBDb2xvciZs
				dDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7CgkJJmx0O2tl
				eSZndDtCbHVlIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJ
				CSZsdDtyZWFsJmd0OzAuODExODE1MTk5MSZsdDsvcmVh
				bCZndDsKCQkmbHQ7a2V5Jmd0O0dyZWVuIENvbXBvbmVu
				dCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuODM4
				NTMyMTYyMzk5OTk5OTUmbHQ7L3JlYWwmZ3Q7CgkJJmx0
				O2tleSZndDtSZWQgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7
				CgkJJmx0O3JlYWwmZ3Q7MC40OTAzMTg3OTk4OTk5OTk5
				OSZsdDsvcmVhbCZndDsKCSZsdDsvZGljdCZndDsKCSZs
				dDtrZXkmZ3Q7QW5zaSAxNSBDb2xvciZsdDsva2V5Jmd0
				OwoJJmx0O2RpY3QmZ3Q7CgkJJmx0O2tleSZndDtCbHVl
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuOTYwNzg0MzE2MDYyOTI3MjUmbHQ7L3JlYWwm
				Z3Q7CgkJJmx0O2tleSZndDtHcmVlbiBDb21wb25lbnQm
				bHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjk2MDc4
				NDMxNjA2MjkyNzI1Jmx0Oy9yZWFsJmd0OwoJCSZsdDtr
				ZXkmZ3Q7UmVkIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJ
				CSZsdDtyZWFsJmd0OzAuOTYwNzg0MzE2MDYyOTI3MjUm
				bHQ7L3JlYWwmZ3Q7CgkmbHQ7L2RpY3QmZ3Q7CgkmbHQ7
				a2V5Jmd0O0Fuc2kgMiBDb2xvciZsdDsva2V5Jmd0OwoJ
				Jmx0O2RpY3QmZ3Q7CgkJJmx0O2tleSZndDtCbHVlIENv
				bXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0
				OzAuMzE0NDQ2NjY3NSZsdDsvcmVhbCZndDsKCQkmbHQ7
				a2V5Jmd0O0dyZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0
				OwoJCSZsdDtyZWFsJmd0OzAuNTU1NzY1Njk1NzAwMDAw
				MDEmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQg
				Q29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwm
				Z3Q7MC40OTQ3MzgwNDM4OTk5OTk5OCZsdDsvcmVhbCZn
				dDsKCSZsdDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5z
				aSAzIENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZn
				dDsKCQkmbHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0
				Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC40MDM5MjE1
				Njg2Mjc0NTA5OSZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5
				Jmd0O0dyZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJ
				CSZsdDtyZWFsJmd0OzAuNzA5ODAzOTIxNTY4NjI3NDgm
				bHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29t
				cG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7
				MC44OTgwMzkyMTU2ODYyNzQ1NCZsdDsvcmVhbCZndDsK
				CSZsdDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSA0
				IENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsK
				CQkmbHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC43MzMzMzMzMzMy
				OTk5OTk5NSZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0
				O0dyZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZs
				dDtyZWFsJmd0OzAuNTk5OTk5OTk5OTk5OTk5OTgmbHQ7
				L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29tcG9u
				ZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC40
				MjM1Mjk0MTE3OTk5OTk5OCZsdDsvcmVhbCZndDsKCSZs
				dDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSA1IENv
				bG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkm
				bHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkm
				Z3Q7CgkJJmx0O3JlYWwmZ3Q7MC41MjM0NDY2OTgwOTkz
				MTI5OSZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dy
				ZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDty
				ZWFsJmd0OzAuMzA2OTc3OTg1Nzk1Njg4MDgmbHQ7L3Jl
				YWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29tcG9uZW50
				Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC42MjMz
				Mzg1MTgwOTk1NDc0MyZsdDsvcmVhbCZndDsKCSZsdDsv
				ZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSA2IENvbG9y
				Jmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkmbHQ7
				a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7
				CgkJJmx0O3JlYWwmZ3Q7MC44MTE4MTUxOTkxJmx0Oy9y
				ZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7R3JlZW4gQ29tcG9u
				ZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC44
				Mzg1MzIxNjIzOTk5OTk5NSZsdDsvcmVhbCZndDsKCQkm
				bHQ7a2V5Jmd0O1JlZCBDb21wb25lbnQmbHQ7L2tleSZn
				dDsKCQkmbHQ7cmVhbCZndDswLjQ5MDMxODc5OTg5OTk5
				OTk5Jmx0Oy9yZWFsJmd0OwoJJmx0Oy9kaWN0Jmd0OwoJ
				Jmx0O2tleSZndDtBbnNpIDcgQ29sb3ImbHQ7L2tleSZn
				dDsKCSZsdDtkaWN0Jmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1
				ZSBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVh
				bCZndDswLjgxNTY4NjI4NTQ5NTc1ODA2Jmx0Oy9yZWFs
				Jmd0OwoJCSZsdDtrZXkmZ3Q7R3JlZW4gQ29tcG9uZW50
				Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC44MTU2
				ODYyODU0OTU3NTgwNiZsdDsvcmVhbCZndDsKCQkmbHQ7
				a2V5Jmd0O1JlZCBDb21wb25lbnQmbHQ7L2tleSZndDsK
				CQkmbHQ7cmVhbCZndDswLjgxNTY4NjI4NTQ5NTc1ODA2
				Jmx0Oy9yZWFsJmd0OwoJJmx0Oy9kaWN0Jmd0OwoJJmx0
				O2tleSZndDtBbnNpIDggQ29sb3ImbHQ7L2tleSZndDsK
				CSZsdDtkaWN0Jmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBD
				b21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZn
				dDswLjMxMzcyNTUwMTI5ODkwNDQyJmx0Oy9yZWFsJmd0
				OwoJCSZsdDtrZXkmZ3Q7R3JlZW4gQ29tcG9uZW50Jmx0
				Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC4zMTM3MjU1
				MDEyOTg5MDQ0MiZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5
				Jmd0O1JlZCBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkm
				bHQ7cmVhbCZndDswLjMxMzcyNTUwMTI5ODkwNDQyJmx0
				Oy9yZWFsJmd0OwoJJmx0Oy9kaWN0Jmd0OwoJJmx0O2tl
				eSZndDtBbnNpIDkgQ29sb3ImbHQ7L2tleSZndDsKCSZs
				dDtkaWN0Jmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBDb21w
				b25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDsw
				LjI1ODgyMzU0MzgmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tl
				eSZndDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZndDsK
				CQkmbHQ7cmVhbCZndDswLjI1NDkwMTk3NTM5OTk5OTk4
				Jmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVkIENv
				bXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0
				OzAuNjc0NTA5ODIzMjk5OTk5OTgmbHQ7L3JlYWwmZ3Q7
				CgkmbHQ7L2RpY3QmZ3Q7CgkmbHQ7a2V5Jmd0O0JhY2tn
				cm91bmQgQ29sb3ImbHQ7L2tleSZndDsKCSZsdDtkaWN0
				Jmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBDb21wb25lbnQm
				bHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjEyODM0
				MDYzOTE0MDI3MTUmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tl
				eSZndDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZndDsK
				CQkmbHQ7cmVhbCZndDswLjEyODM0MDYzOTE0MDI3MTUm
				bHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29t
				cG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7
				MC4xMjgzNDA2MzkxNDAyNzE1Jmx0Oy9yZWFsJmd0OwoJ
				Jmx0Oy9kaWN0Jmd0OwoJJmx0O2tleSZndDtCb2xkIENv
				bG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkm
				bHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkm
				Z3Q7CgkJJmx0O3JlYWwmZ3Q7MC44MTU2ODYyODU0OTU3
				NTgwNiZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dy
				ZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDty
				ZWFsJmd0OzAuODE1Njg2Mjg1NDk1NzU4MDYmbHQ7L3Jl
				YWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29tcG9uZW50
				Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC44MTU2
				ODYyODU0OTU3NTgwNiZsdDsvcmVhbCZndDsKCSZsdDsv
				ZGljdCZndDsKCSZsdDtrZXkmZ3Q7Q3Vyc29yIENvbG9y
				Jmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkmbHQ7
				a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7
				CgkJJmx0O3JlYWwmZ3Q7MC44MTU2ODYyODU0OTU3NTgw
				NiZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dyZWVu
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuODE1Njg2Mjg1NDk1NzU4MDYmbHQ7L3JlYWwm
				Z3Q7CgkJJmx0O2tleSZndDtSZWQgQ29tcG9uZW50Jmx0
				Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC44MTU2ODYy
				ODU0OTU3NTgwNiZsdDsvcmVhbCZndDsKCSZsdDsvZGlj
				dCZndDsKCSZsdDtrZXkmZ3Q7Q3Vyc29yIFRleHQgQ29s
				b3ImbHQ7L2tleSZndDsKCSZsdDtkaWN0Jmd0OwoJCSZs
				dDtrZXkmZ3Q7Qmx1ZSBDb21wb25lbnQmbHQ7L2tleSZn
				dDsKCQkmbHQ7cmVhbCZndDswLjA4MjM1Mjk0MzcxODQz
				MzM4Jmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7R3Jl
				ZW4gQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3Jl
				YWwmZ3Q7MC4wODIzNTI5NDM3MTg0MzMzOCZsdDsvcmVh
				bCZndDsKCQkmbHQ7a2V5Jmd0O1JlZCBDb21wb25lbnQm
				bHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjA4MjM1
				Mjk0MzcxODQzMzM4Jmx0Oy9yZWFsJmd0OwoJJmx0Oy9k
				aWN0Jmd0OwoJJmx0O2tleSZndDtGb3JlZ3JvdW5kIENv
				bG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkm
				bHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkm
				Z3Q7CgkJJmx0O3JlYWwmZ3Q7MC44MTU2ODYyODU0OTU3
				NTgwNiZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dy
				ZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDty
				ZWFsJmd0OzAuODE1Njg2Mjg1NDk1NzU4MDYmbHQ7L3Jl
				YWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29tcG9uZW50
				Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC44MTU2
				ODYyODU0OTU3NTgwNiZsdDsvcmVhbCZndDsKCSZsdDsv
				ZGljdCZndDsKCSZsdDtrZXkmZ3Q7U2VsZWN0ZWQgVGV4
				dCBDb2xvciZsdDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7
				CgkJJmx0O2tleSZndDtCbHVlIENvbXBvbmVudCZsdDsv
				a2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuODE1Njg2Mjg1
				NDk1NzU4MDYmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZn
				dDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkm
				bHQ7cmVhbCZndDswLjgxNTY4NjI4NTQ5NTc1ODA2Jmx0
				Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVkIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				ODE1Njg2Mjg1NDk1NzU4MDYmbHQ7L3JlYWwmZ3Q7Cgkm
				bHQ7L2RpY3QmZ3Q7CgkmbHQ7a2V5Jmd0O1NlbGVjdGlv
				biBDb2xvciZsdDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7
				CgkJJmx0O2tleSZndDtCbHVlIENvbXBvbmVudCZsdDsv
				a2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuMTg4MjM1Mjk3
				Nzk5MTEwNDEmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZn
				dDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkm
				bHQ7cmVhbCZndDswLjE4ODIzNTI5Nzc5OTExMDQxJmx0
				Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVkIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				MTg4MjM1Mjk3Nzk5MTEwNDEmbHQ7L3JlYWwmZ3Q7Cgkm
				bHQ7L2RpY3QmZ3Q7CiZsdDsvZGljdCZndDsKJmx0Oy9w
				bGlzdCZndDsKPC9wcmU+PC9ib2R5PjwvaHRtbD4=
				</data>
				<key>WebResourceFrameName</key>
				<string></string>
				<key>WebResourceMIMEType</key>
				<string>text/plain</string>
				<key>WebResourceTextEncodingName</key>
				<string>UTF-8</string>
				<key>WebResourceURL</key>
				<string>https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/schemes/Afterglow.itermcolors</string>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>07C063CF-400A-4557-9FC0-4491AC27FE88</string>
	<key>DisableWindowSizeSnap</key>
	<true/>
	<key>DoubleClickPerformsSmartSelection</key>
	<true/>
	<key>FocusFollowsMouse</key>
	<true/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0.8</string>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.2039216</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.5411764999999999</string>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3098039</string>
				<key>Green Component</key>
				<string>0.9137255</string>
				<key>Red Component</key>
				<string>0.9882353</string>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.6235294</string>
				<key>Red Component</key>
				<string>0.4470588</string>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6588235</string>
				<key>Green Component</key>
				<string>0.4980392</string>
				<key>Red Component</key>
				<string>0.6784314</string>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8862745</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.9254902</string>
				<key>Green Component</key>
				<string>0.9333333</string>
				<key>Red Component</key>
				<string>0.9333333</string>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.02352941</string>
				<key>Green Component</key>
				<string>0.6039215999999999</string>
				<key>Red Component</key>
				<string>0.3058824</string>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0.627451</string>
				<key>Red Component</key>
				<string>0.7686275</string>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6431373</string>
				<key>Green Component</key>
				<string>0.3960784</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.4823529</string>
				<key>Green Component</key>
				<string>0.3137255</string>
				<key>Red Component</key>
				<string>0.4588235</string>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6039215999999999</string>
				<key>Green Component</key>
				<string>0.5960785</string>
				<key>Red Component</key>
				<string>0.02352941</string>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.8431373</string>
				<key>Red Component</key>
				<string>0.827451</string>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3254902</string>
				<key>Green Component</key>
				<string>0.3411765</string>
				<key>Red Component</key>
				<string>0.3333333</string>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.1607843</string>
				<key>Green Component</key>
				<string>0.1607843</string>
				<key>Red Component</key>
				<string>0.9372549</string>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>11.156993575507613</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Guid</key>
			<string>07C063CF-400A-4557-9FC0-4491AC27FE88</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Hack-Regular 14</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>0.8353</string>
				<key>Red Component</key>
				<string>0.7098</string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Status Bar</key>
			<false/>
			<key>Silence Bell</key>
			<false/>
			<key>Status Bar Layout</key>
			<dict>
				<key>advanced configuration</key>
				<dict>
					<key>algorithm</key>
					<integer>0</integer>
					<key>font</key>
					<string>.AppleSystemUIFont 12</string>
				</dict>
				<key>components</key>
				<array/>
			</dict>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.17531725888324873</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>BounceTrigger</string>
					<key>regex</key>
					<string></string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/jgreen</string>
		</dict>
	</array>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PasteTabToStringTabStopSize</key>
	<integer>4</integer>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.3125715648854962</real>
	<key>TabStyleWithAutomaticOption</key>
	<integer>4</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>ThreeFingerEmulates</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findMode_iTerm</key>
	<integer>0</integer>
</dict>
</plist>
